version: '3.8'
services:
  node1:
    build: .
    environment:
      - NODE_ID=node1
      - NODE_ADDR=:5000
      - PEERS=node2:5000,node3:5000
    ports:
      - "5001:5000"

  node2:
    build: .
    environment:
      - NODE_ID=node2
      - NODE_ADDR=:5000
      - PEERS=node1:5000,node3:5000
    ports:
      - "5002:5000"

  node3:
    build: .
    environment:
      - NODE_ID=node3
      - NODE_ADDR=:5000
      - PEERS=node1:5000,node2:5000
    ports:
      - "5003:5000"
